.nav {
    grid-area: n;
    background-color: rgb(191, 28, 98);
}

.nav div {
    margin-top: 10px;
    margin-left: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav div:hover {
    background-color: black;
}