.nav {
    grid-area: n;
    background-color: rgb(191, 28, 98);
}

.nav div {
    margin-top: 10px;
    margin-left: 10px;
}


.nav div:hover {
    background-color: black;
    border-radius: 20px;
    text-align: center;
    color: white;
}